<form action="" class="well" (submit)="addTask($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="title" name ="title" class="form-control" placeholder="add task">
    </div>
</form>

<div class="task-list">
    <div *ngFor = "let task of tasks" >
        <div class="col-md-1">
            <input type="checkbox" [checked] = "task.isDone" (click)="updateStatus(task)">
        </div>
        <div class="col-md-7">
            {{task.title}}
        </div>
        <div class="col-md-4">
            <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn-danger">
        </div>
        <br> <br>   
    </div>
</div>